<form class="form-inline">
  <div class="row " style="width: 100%;margin-left:20px; margin-top: 25px;">
    <div class="col-6">
      <!-- <div class="col-12">
        <ngb-datepicker [minDate]="{year: 2010, month: 1, day: 1}"
        [maxDate]="{year: 2020, month: 01, day: 25}"
        [markDisabled]="isWeekend"></ngb-datepicker>
      </div> -->
     
      <app-date-range></app-date-range>
    </div>
    <div class="col-3">
        <input type="text" class="form-control"
        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [markDisabled]="isWeekend"/>
        <button class="form-control" (click)="d.toggle()"></button>
    </div>
    <div class="col-3">
      <app-date2></app-date2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-3">
      <input class="form-control" type="date">
    </div>
  </div>
</form>
<hr/>
